@import url("https://fonts.googleapis.com/css?family=Poppins");
html {
  font-family: "Poppins";
  overflow-x: hidden; /* Disable horizontal scroll */
}

#privacy-link {
  text-decoration: underline;
}

main {
  position: relative;
  transition: all 0.5s;
  overflow-x: hidden; /* Disable horizontal scroll */
  z-index: 1000;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.body {
  transition: right 0.5s ease-in-out;
}

.open {
  margin-right: 200px;
  overflow: hidden;
  transition: left 0.5s ease-in-out;
}

.header {
  height: 168px;
  position: absolute;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  background-color: white;
  z-index: 100000;
}

.btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  white-space: normal;
}

#btn-google {
  background-color: rgb(8, 66, 161);
  margin: 20px 8px 0px 0px;
}

.btn-trust {
  background-color: rgb(0, 146, 98);
}

#btn-choose {
  margin: 20px 8px 0px 0px;
}

#btn-choose, #btn-culture {
  background-color: rgb(31, 33, 43);
}

#search-form-button {
  background-color: #999aa2 !important;
  color: white;
}

#search-form-button > i {
  font-size: 23px;
  line-height: 23px;
}

.row a[class^=btn] {
  padding: 10px 30px;
  margin: 20px 0px 0px;
  font-size: 20px;
  border-radius: 6px;
}

.clients-buttons, .brand-buttons {
  display: inline-flex;
  flex-wrap: wrap;
}

#cookie-consent {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000000;
  background-color: rgba(0, 0, 0, 0.7);
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: center !important;
  padding: 30px;
}

#cookie-consent .modal-dialog {
  margin: auto;
}

#modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: none;
}

#modal-header {
  padding: 15px 20px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.42857143px;
}

#modal-title {
  margin: 0;
  line-height: 1.42857143;
}

#modal-body {
  position: relative;
  padding: 20px;
}

#modal-body > p {
  line-height: 1.875rem;
  margin-bottom: 25px;
  margin: 0 0 10px;
}

#modal-body > a {
  color: #333645;
  text-decoration: none;
}

#modal-footer {
  margin: 0;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

#cookie-row {
  margin-left: -15px;
  margin-right: -15px;
}

.cookie-button-anchor {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.spacer-xs {
  margin-bottom: 30px;
}

.cookie-button {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  text-align: center;
}

.btn-block {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.btn-default {
  color: #fff;
  background-color: #999aa2;
  border-color: #999aa2;
}

.btn-web {
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
}

#side-nav-bar {
  height: 100%; /* 100% Full-height */
  width: 275px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  right: 0px;
  color: white;
  background-color: #333645;
  z-index: 5;
}

#contact-us-lg-sidenav {
  padding-top: 0px !important;
}

#side-nav-services > li {
  padding-top: 20px;
}

.nav-up {
  top: -168px;
}

#side-nav-content {
  padding: 21px;
}

#side-nav-company-info {
  margin-bottom: 25px;
}

#services-md-hidden-menu {
  display: none;
}

#covid-sidenav > a {
  margin-bottom: 1px !important;
}

#side-nav-services > li > a {
  font-size: 1.125rem;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  padding: 19px 0 18px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  outline: 1px solid rgba(0, 0, 0, 0.25);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
}

#side-nav-company-info > li > a {
  font-size: 16px;
  color: white;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  outline: 1px solid rgba(0, 0, 0, 0.25);
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  text-align: left;
  line-height: 1;
}

#side-nav-company-info .sidenav-sub-menu-item > a {
  display: flex;
  flex-direction: row;
  padding: 15px 20px;
}

#side-nav-company-info h2 {
  font-size: 14px !important;
  line-height: 20px;
  font-weight: 100;
  text-align: left;
}

.unfocused {
  filter: brightness(65%);
}

#side-nav-company-info > li > a {
  margin-bottom: -22px;
}

.sidenav-sub-menu-item > a > i {
  margin-top: 6px;
  margin-right: 20px;
  font-size: 8px;
}

#side-nav-company-info .sidenav-sub-menu-item > li > a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 100;
}

#side-nav-company-info > li > a > h1 {
  font-size: 16px;
  font-weight: 100;
}

#side-nav-services > li > a > h3 {
  margin: 0px 0px;
  font-size: 10px;
  font-weight: 100;
}

#side-nav-services > li > a > h1 {
  font-size: 18px;
  font-weight: 100;
}

.sidenav-sub-menu-item > a > h2 {
  font-size: 18px;
  font-weight: 100;
}

#side-nav-bar h2 {
  margin: 0px;
  font-size: 16px;
}

.side-nav-icon {
  font-size: 1.2rem;
}

.sidenav-sub-menu-item > a {
  display: block;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-top: 1px solid hsla(0, 0%, 100%, 0.05);
  text-decoration: none;
}

.sidenav-sub-menu-banner {
  margin-top: 20px;
}

.sidenav-sub-menu-banner > ul > li:not(:first-child) > a {
  border-top: 1px solid hsla(0, 0%, 100%, 0.05);
}

.header-actions-buttons {
  height: 56px;
  line-height: 46px;
  font-size: 1.125rem;
  padding: 5px 15px;
  text-transform: uppercase;
  border: 1px solid transparent;
  top: 20px;
}

#header-support-button {
  background-color: #4183d7;
  color: white;
  border-color: #4183d7;
}

#header-support-button > img, #header-contact-button > img {
  filter: invert(100%);
  width: 23.41px;
  vertical-align: bottom;
  padding-bottom: 10px;
}

#header-support-button, #header-contact-button {
  height: 44px;
  align-self: flex-end;
  border-radius: 3px;
}

#header-contact-button {
  background-color: #999aa2;
  color: white;
  border-color: #999aa2;
  margin: 0px 20px;
}

#default-form > .search-form-input {
  background-color: white;
  height: 56px;
}

#default-form > #search-form-button {
  position: relative;
  padding: 7px 20px 3px;
  height: 56px;
  font-size: 1.063rem;
  border-radius: 0 3px 3px 0;
  border: none;
  vertical-align: bottom;
  background-color: none;
  line-height: 0px;
  right: 6px;
}

/*
#magni-glass {
    filter: invert(100%);
    font-size: 23px;
    width: 28px;
    height: 32px;
}
*/
.header-actions {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.header .inner {
  padding: 20px 0px;
}

#header-row {
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  height: 70px;
}

.header-icon {
  float: left;
  margin-right: auto;
}

.header-icon > img {
  max-width: 402px;
  width: 100%;
}

.header-mobile-icon {
  display: flex;
  align-items: center;
}

.header-mobile-icon > img {
  width: 32.41px;
  align-self: center;
}

#header-row i {
  font-size: 23px;
}

#hamburger-menu-btn {
  position: relative;
  background-color: #333645 !important;
  border: 3px solid transparent;
  border-radius: 3px;
  padding: 5px 15px !important;
  height: 56px !important;
  align-self: flex-end;
  margin-left: 20px;
}

.hamburger--slider .hamburger-inner, .hamburger--slider .hamburger-inner::before, .hamburger--slider .hamburger-inner::after {
  background-color: white !important;
}

.header-actions > a {
  text-decoration: none;
}

.header-actions > a:hover, #search-form-button:hover {
  filter: brightness(90%);
}

.search-form {
  margin-top: 11px;
  position: relative;
}

#search-form-button {
  position: absolute;
  border: none;
  line-height: 47px;
  font-size: 20px;
  bottom: 0;
  right: 5px;
}

.search-form-input {
  width: 100%;
  padding-right: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: 1px solid hsla(0, 0%, 100%, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  height: 47px;
  padding: 5px 15px;
}

.main-navigation {
  background-color: #333645;
}

.nav-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-row > li {
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  width: 14.28%;
  flex-grow: 1;
  color: white;
}

#bespoke-menu:hover {
  background-color: #67809f;
}
#bespoke-menu:hover #laptop-icon {
  color: white;
}

#bespoke-content {
  background-color: #526781;
}

#bespoke-triangle {
  border-top-color: #67809f;
}

#laptop-icon, #sidenav-laptop-icon {
  font-size: 1.2rem;
  color: #526781;
}

#support-menu:hover {
  background-color: #4183d7;
}
#support-menu:hover #desktop-icon {
  color: white;
}

#support-content {
  background-color: #286abd;
}

#support-triangle {
  border-top-color: #4183d7;
  margin-left: 140px;
}

#desktop-icon, #sidenav-desktop-icon {
  font-size: 1.2rem;
  color: #286abd;
}

#digital-menu:hover {
  background-color: #2ecc71;
}
#digital-menu:hover #signal-icon {
  color: white;
}

#digital-content {
  background-color: #25a25a;
}

#digital-triangle {
  border-top-color: #2ecc71;
  margin-left: 276px;
}

#signal-icon, #sidenav-digital-icon {
  font-size: 1.2rem;
  color: #2ecc71;
}

#telecoms-menu:hover {
  background-color: #d64541;
}
#telecoms-menu:hover #telecoms-icon {
  color: white;
}

#telecoms-content {
  background-color: #bc2c28;
}

#telecoms-triangle {
  border-top-color: #d64541;
  margin-left: 414px;
}

#telecoms-icon, #sidenav-telecoms-icon {
  font-size: 1.2rem;
  color: #d64541;
}

#web-menu:hover {
  background-color: #926fb1;
}
#web-menu:hover #web-icon {
  color: white;
}

#web-content {
  background-color: #61427b;
}

#web-triangle {
  border-top-color: #926fb1;
  margin-left: 554px;
}

#web-icon, #sidenav-code-icon {
  font-size: 1.2rem;
  color: #926fb1;
}

#security-menu:hover {
  background-color: #fb2459;
}
#security-menu:hover #security-icon {
  color: white;
}

#security-content {
  background-color: #de093f;
}

#security-triangle {
  margin-left: 692px;
  border-top-color: #fb2459;
}

#security-icon, #sidenav-cyber-icon {
  font-size: 1.2rem;
  color: #de093f;
}

#developer-menu:hover {
  background-color: #ce4125;
}
#developer-menu:hover #developer-icon {
  color: white;
}

#developer-content {
  background-color: #a3331d;
}

#developer-triangle {
  margin-left: 830px;
  border-top-color: #ce4125;
}

#developer-icon, #sidenav-graduation-icon {
  font-size: 1.2rem;
  color: #ce4125;
}

.sub-menu-item-text > i {
  padding-right: 10px;
}

.nav-row > li img {
  width: 23.41px;
}

.sub-menu > a {
  width: 100%;
}

.sub-menu-item-text {
  display: inline-flex;
  flex-direction: row;
  height: 15px;
  width: 100%;
}

.sub-menu-item-text-value:hover {
  text-decoration: underline;
}

.sub-menu-item-text-value {
  display: inline-block;
  overflow-wrap: break-word;
}

.sub-menu {
  width: 100%;
  float: left;
  overflow: hidden;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 18px 0px;
  background-color: inherit;
  margin: 0;
  overflow-wrap: break-word;
}

.triangle-down {
  margin-top: -15px;
  width: 0;
  height: 0;
  border-left: 69px solid transparent;
  border-right: 69px solid transparent;
  border-top: 35px solid blue;
}

.dropbtn h1 {
  font-size: 20px;
  font-weight: lighter;
  margin-top: -6px;
}

.sub-menu-banner > h2 {
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: -5px;
}

.dropbtn h2 {
  font-size: 10px;
  font-weight: lighter;
  margin: 0px;
}

.content-columns {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 1;
}

.content-columns > li {
  width: 33%;
  flex-grow: 1;
}

.sub-menu-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 970px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  letter-spacing: 0.4px;
}

.sub-menu-item > a > span {
  color: white;
}

.main-navigation {
  display: none;
}

.sub-menu-item {
  font-size: 19.2px;
  text-align: left;
  letter-spacing: 0.4px;
  line-height: 21px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
}

.sub-menu-banner {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 15px;
}

.sub-menu-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.sub-menu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.sub-menu:hover .sub-menu-content {
  display: block;
}

.services-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0px 20px;
}

#services-footer {
  display: flex;
  justify-content: center;
  margin: 0px 20px;
}

#services-footer > h3 {
  font-size: 26px;
}

.services-header > h2 {
  font-size: 43.2px;
}

.services-header > h3 {
  display: flex;
  align-items: center;
  font-size: 26px;
}

a[class^=card-] > span {
  display: block;
  text-align: center;
}

.service-list > .row {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#service-section {
  background-color: #ffffff;
}

.top-cards {
  margin-left: 15px;
  margin-right: 15px;
}

.other-cards {
  margin-left: 15px;
  margin-right: 15px;
}

span[class^=btn] {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  margin-bottom: 0;
  font-weight: 400;
  border: 1px solid transparent;
}

#software-btn {
  display: inline-block;
  color: #fff;
  background-color: #67809f;
  border-color: #67809f;
}

#software-background {
  background-color: #67809f;
}

#it-btn {
  display: inline-block;
  color: #fff;
  background-color: #4183d7;
  border-color: #4183d7;
}

#it-background {
  background-color: #4183d7;
}

#digital-btn {
  display: inline-block;
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
}

#digital-background {
  background-color: #2ecc71;
}

#telecoms-btn {
  display: inline-block;
  color: #fff;
  background-color: #d64541;
  border-color: #d64541;
}

#telecoms-background {
  background-color: #d64541;
}

#web-btn {
  display: inline-block;
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
}

#web-background {
  background-color: #926fb1;
}

#cyber-btn {
  display: inline-block;
  color: #fff;
  background-color: #f62459;
  border-color: #f62459;
}

#cyber-background {
  background-color: #f62459;
}

#training-btn {
  display: inline-block;
  color: #fff;
  background-color: #ce4125;
  border-color: #ce4125;
}

#training-background {
  background-color: #ce4125;
}

a[class^=card-] > .icon {
  height: 65px;
  width: 65px;
  margin: 0 auto 17px;
  background-color: #333645;
  color: #fff;
  border-radius: 50%;
}

a[class$=-block] {
  padding: 30px;
  margin-top: 30px;
  border-radius: 15px;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  display: block;
  border: 1px solid #ccc;
  text-align: center;
}

.icon > img {
  width: 32px;
  filter: invert(100%);
  padding: 25%;
}

.service-list span.p {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px;
  font-weight: 400;
}

.service-list span.h2 {
  font-size: 1.3rem;
  position: relative;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

.software-colour {
  color: #fff;
  background-color: #67809f;
  border-color: #67809f;
}

#why-banner-btn {
  background-color: #926fb1;
  border-color: #926fb1;
}

#software-banner-btn {
  background-color: #67809f;
  border-color: #67809f;
}

#support-banner-btn {
  background-color: #4183d7;
  border-color: #4183d7;
}

#digital-banner-btn {
  background-color: #2ecc71;
  border-color: #2ecc71;
}

#telecoms-banner-btn {
  background-color: #d64541;
  border-color: #d64541;
}

#web-banner-btn {
  background-color: #926fb1;
  border-color: #926fb1;
}

#cyber-banner-btn {
  background-color: #f62459;
  border-color: #f62459;
}

.text > h1 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 0 0 1.25rem;
  font-weight: 600;
  z-index: 0;
}

/*
.image-cover-container img {
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,255,255,1));
}
*/
.text > p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 0px;
  font-weight: 600;
}

.banner {
  height: 550px;
  width: 100%;
  color: white;
  margin-top: 154px;
}

.content {
  position: relative;
  z-index: 10;
  padding-bottom: 0px;
  height: 241px;
  margin-top: -400px;
  overflow: hidden;
  text-align: center;
}

.image-cover-container {
  position: relative;
  height: 550px;
  width: 100%;
  z-index: 10;
}

picture > img {
  height: 550px;
  z-index: 10000000;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.slick-dots {
  position: absolute !important;
  display: block !important;
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;
  text-align: center !important;
}

.banner-btn-web {
  height: auto;
  padding: 18px 15px;
  font-size: 1.25rem;
  border: 1px solid transparent;
  border-radius: 3px;
  white-space: normal;
  text-align: center;
  vertical-align: middle;
  color: rgb(232, 230, 227);
  margin-top: 1.938rem;
  font-size: 20px;
  text-transform: capitalize;
  line-height: 50px;
}

.banner-btn-web > i {
  margin-left: 5px;
}

.slider {
  z-index: 10000;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: block;
  background-color: white;
  padding: 60px 0px;
}

#slider-certification {
  position: relative;
  display: block;
  width: 2500px;
  transition: all 0.25s ease 0s;
}

.slider-item-container {
  position: relative;
  min-height: 1px;
  float: left;
  width: auto;
}

.slider-item {
  vertical-align: middle;
  padding: 0 20px;
  position: relative;
  max-height: 70px;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.slider-certification-image {
  max-height: 70px;
  max-width: 200px;
}

.slider-certification-image {
  filter: grayscale(100%);
}

.slider-certification-image:hover {
  filter: grayscale(0%);
}

#slider-outer {
  overflow: visible;
}

#slider-clients {
  position: relative;
  display: block;
  width: 3000px;
  transition: all 0.25s ease 0s;
}

.slider-description {
  z-index: 10000000000000000000000000000000000000000000000000;
  display: none;
  position: absolute;
  width: 280px;
  bottom: 100%;
  left: 0px;
  right: 0px;
}

.slider {
  overflow: visible;
}

.slick-list {
  overflow: visible !important;
}

.slider-box {
  background-color: #333645;
  color: #fff;
  padding: 20px;
  font-size: 0.875rem;
  max-width: 280px;
  margin: 0 auto 50px;
}

.slider-box > h3 {
  position: relative;
  font-size: 1.125rem;
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 18px;
  padding-bottom: 17px;
  margin: 0;
}

.slider-box > p {
  font-size: 13px;
  line-height: 1.375rem;
  margin: 0px;
  color: white;
  text-align: center;
  word-wrap: break-word;
}

.slider-clients-button {
  margin-top: 11px;
  font-size: 16px;
  display: flex;
  height: auto;
  color: #fff;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  border-radius: 3px;
  white-space: normal;
  text-decoration: none;
}

.no-description {
  padding-bottom: 0px !important;
}

.marketing-colour {
  background-color: #25a35a;
  border-color: #25a35a;
}

.web-design-colour {
  background-color: #926fb1;
  border-color: #926fb1;
}

.support-colour {
  background-color: #21579c;
  border-color: #21579c;
}

.software-colour {
  background-color: #4d617a;
  border-color: #4d617a;
}

.slider-clients-button > i {
  margin-left: 10px;
  margin-top: 10px;
}

.arrow {
  position: absolute;
  left: 50%;
  margin-left: -37px;
  width: 0;
  height: 0;
  margin-top: 18px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 35px solid #333645;
}

.slider-item:hover .slider-description {
  display: block;
}

.brand-background {
  background-color: #292b37;
  color: white;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#client-quote {
  font-size: 20.8px;
}

#client-quote-author {
  font-size: 17.6px;
}

.brand-header {
  margin: -6px 0px 40px;
}

.brand-header > strong {
  font-size: 36px;
}

.col-welcome > p, .col-clients > p {
  margin: 0px 0px 25px;
}

.col-welcome {
  min-height: 1px;
  padding: 0px 15px;
  padding-bottom: 50px;
}

.col-clients {
  min-height: 1px;
  padding: 0px 15px;
}

.star {
  display: inline-block;
  width: 46.84px;
  height: 51px;
  font-weight: 400;
  line-height: 1;
  filter: invert(75%) sepia(30%) saturate(6191%) hue-rotate(359deg) brightness(102%) contrast(106%);
  margin-bottom: 25px;
}

.latest-articles {
  background-color: #181a1b;
  color: white;
}

.row div[class^=article] {
  width: 100%;
}

.article-image {
  width: 100%;
  position: relative;
}

.image-container {
  position: relative;
}

.article-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.careers-btn {
  position: absolute;
  top: 10px;
  right: 0;
  color: #fff;
  background-color: rgb(33, 87, 156);
  font-size: 0.75rem;
  padding: 0 10px;
  line-height: 1.438rem;
  text-transform: uppercase;
  z-index: 1;
}

div[class^=block] {
  border-color: rgb(62, 68, 70);
  border: 1px solid #ccc;
  border-radius: 0px 0px 3px 3px;
  padding: 30px;
}

.block h3 a {
  color: rgb(80, 153, 218);
}

.read-time {
  color: rgba(194, 189, 181, 0.5);
}

.user {
  width: 100% font-size 0.875rem;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
  border-top-color: rgb(62, 68, 70);
  display: flex;
  direction: row;
}

.details {
  padding: 0px 0px 0px 20px;
  font-size: 14px;
  line-height: 1.375rem;
}

.article-buttons {
  background-color: rgb(33, 87, 156);
  border-color: rgb(30, 79, 141);
}

#receptionist-title {
  color: rgb(154, 121, 182);
}

#reception-button, #receptionist-careers-btn {
  color: rgb(232, 230, 227);
  background-color: rgb(94, 65, 119);
  border-color: rgb(86, 59, 109);
}

.newsletter {
  background-color: #2B2F31;
  color: #c2bdb5;
}

.form-group {
  margin-bottom: 15px;
}

.form-signup {
  padding: 50px 0px;
}

.form-signup h2 {
  font-size: 32px;
  color: #C2BDB5;
  margin: 0px 0px 15px;
}

.form-group input {
  width: 90%;
  background-color: #181A1B;
  padding: 5px 15px;
}

.form-group label.required {
  font-size: 16px;
  color: #C2BDB5;
  margin: 0px 0px 5px;
}

.sign-up-input {
  flex: 1 1 450px;
  padding: 15px 0px;
}

.form-group label .required:after {
  content: " *";
  color: #d24d57;
}

.sign-up-inputs-group {
  display: flex;
  flex-wrap: wrap;
}

.checkbox-left {
  padding-right: 0;
}

.media-body, .media-left {
  display: table-cell;
  vertical-align: top;
}

#button-checkbox {
  border-color: rgb(120, 112, 99);
}

#button-checkbox {
  margin-right: 20px;
}

#newsletter-btn-primary {
  color: rgb(232, 230, 227);
  background-color: #282a36;
  border-color: rgb(120, 112, 99);
}

.heading-container {
  display: flex;
  color: #c2bdb5;
  justify-content: space-between;
  margin: 0px;
}

.smallestvp-view-all {
  text-align: center;
  display: none;
}

footer {
  background-color: #282a36;
  color: white;
  padding-top: 27px;
  position: relative;
}

.footer-bottom {
  background-color: #1a1c26;
  color: white;
  font-size: 13px;
}

.footer-social {
  width: 320px;
}

.footer-social-menu {
  margin-right: 80px;
  width: 100%;
}

.footer-social-menu > img {
  max-width: 320px;
}

.footer-social-menu-logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 0px 30px;
  width: 100%;
}

footer .container h4 {
  font-size: 16px;
  margin: 0px 0px 26px;
}

footer .container ul li {
  font-size: 13px;
}

.link-row div {
  margin: 0px 0px 30px;
  padding: 0px 15px;
}

.link-row {
  margin-right: -15px;
  margin-left: -15px;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-social-menu-logos-icons {
  font-size: 26px;
  filter: invert(100%);
  padding: 12px 22px 16px;
}

.footer-social-menu-logos-container {
  background-color: #1a1c26;
  margin: 0px 10px 10px 0px;
}

.col-xs-12 {
  width: 100%;
}

.license {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px 0px 10px 25px;
  max-width: 202px;
  align-items: center;
}

@media (max-width: 453px) {
  .content {
    height: 350px;
    margin-top: -550px;
  }
  #first-banner > h1 {
    font-size: 30px;
    line-height: 30px;
  }
  #first-banner > p {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .footer-social {
    width: 100%;
    flex-wrap: wrap;
  }
  .heading-container {
    width: 100%;
  }
  #articles-bar-view-all {
    display: none;
  }
  .smallestvp-view-all {
    display: block;
  }
  .services-header > h3 {
    display: none;
  }
  #default-form {
    display: none;
  }
  .article-one, .article-two, .article-three {
    margin-bottom: 40px;
  }
  #search-form-button {
    background-color: transparent !important;
    color: #333645;
  }
  #search-form-button > i {
    font-size: 20px;
  }
  .content {
    height: 350px;
    margin-top: -450px;
  }
}
@media (max-width: 991px) {
  .link-row {
    display: flex;
    flex-wrap: wrap;
  }
  .text {
    text-align: center;
  }
  .top-cards, .other-cards {
    width: 100%;
  }
  #header-support-button, #header-contact-button {
    display: none;
  }
  .content {
    margin-left: 0px;
  }
  .slick-dots {
    bottom: -10px !important;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .link-row {
    flex-grow: 1;
    display: flex;
  }
  .col-sm-6 {
    width: 46.1%;
  }
  .row {
    width: 750px;
  }
  .article-three {
    display: none;
  }
  .article-one, .article-two {
    padding: 0px 15px;
  }
  .article-list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .heading-container {
    width: 720px;
  }
  #services-footer {
    display: none;
  }
  #large-form {
    display: none;
  }
  .search-form-input {
    display: inline-block;
    width: 174px;
  }
  .header-mobile-icon {
    display: none;
  }
  .license {
    max-width: 100%;
  }
  .search-form-input:focus {
    border-color: lightblue;
    box-shadow: 0px 0px 15px lightgray;
  }
  .header {
    height: 110px;
  }
  .nav-up {
    top: -110px;
  }
  .banner {
    margin-top: 110px;
  }
  .slick-dots {
    bottom: -60px !important;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .col-md-3 {
    width: 25%;
  }
  .text > h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .text > p {
    font-size: 1.625rem;
    line-height: 2.5rem;
  }
  .row {
    width: 970px;
  }
  .col-clients, .col-welcome {
    width: 46%;
  }
  .heading-container {
    width: 940px;
  }
  .top-cards {
    width: 30%;
  }
  .other-cards {
    width: 46.65%;
  }
  .main-navigation {
    display: block;
  }
  .search-form-input {
    display: none;
  }
  #search-form-button {
    border-radius: 3px !important;
    left: 1px;
  }
  .header {
    height: 215px;
  }
  .nav-up {
    top: -215px;
  }
  .banner {
    margin-top: 215px;
  }
  #services-md-hidden-menu {
    display: block;
  }
  #side-nav-content {
    display: none;
  }
  #support-sidenav {
    display: none;
  }
  #side-nav-company-info {
    margin-bottom: 0px;
  }
  #side-nav-bar {
    width: 350px;
  }
  .content {
    height: 297px;
    margin-top: -450px;
    margin-left: 100px;
    text-align: left;
    overflow: unset;
  }
  .slick-dots {
    bottom: -20px !important;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
  .footer-social {
    width: 400px;
  }
  .row {
    width: 1200px;
  }
  .article-three {
    display: block;
  }
  .article-one, .article-two, .article-three {
    padding: 0px 15px;
  }
  .heading-container {
    width: 1170px;
  }
  .top-cards {
    width: 30.65%;
  }
  .other-cards {
    width: 22.33%;
  }
  .search-form-input {
    display: inline-block;
    width: 240px;
  }
  #search-form-button {
    border-radius: 0px 3px 3px 0px !important;
    left: -6px;
  }
  .sub-menu-container {
    width: 1200px;
  }
  #support-triangle {
    margin-left: 172px;
  }
  #digital-triangle {
    margin-left: 344px;
  }
  #telecoms-triangle {
    margin-left: 516px;
  }
  #web-triangle {
    margin-left: 688px;
  }
  #security-triangle {
    margin-left: 860px;
  }
  #developer-triangle {
    margin-left: 1032px;
  }
  .triangle-down {
    border-left: 85px solid transparent;
    border-right: 85px solid transparent;
    border-top: 35px solid blue;
  }
}

/*# sourceMappingURL=application.css.map */
