@import "base/index";
@import "layout/index";
@import "components/index";
//@import url('https://fonts.googleapis.com/css?family=Poppins');


@media (max-width: 399px) { 
    #first-banner-content p {
       padding-bottom: 20px;
    }
    #first-banner-content {
        padding-top: 0px;
    }
}

@media (max-width: 480px) {
    .footer-social-menu-logos > a {
        width: 35%;
        max-width: 59px;
    }
    .footer-social-menu > img {
        max-width: 250px;
    }
    .footer-social-menu-logos {
        max-width: 312px;
    }
    .banner-slider-item {
        br {
            display: none;
        }
    }
}

@media (max-width: 767px) {
    
    .footer-social{     
        width: 100%;
        flex-wrap: wrap;
    
    }
    .heading-container {
        width: 100%;
    }
    #articles-bar-view-all{
        display: none;
    }
    .smallestvp-view-all {
        display: block;
    }
    .services-header > h3 {
        display: none;
    }

    #default-form {
        display: none;
    }

    #article-1, #article-2, #article-3 {
        margin-bottom: 40px;
    }
    .search-form-button {
        background-color: transparent !important;   
        color: #333645;
    }
    #article-1:hover, #article-2:hover, #article-3:hover {
        margin-top: -20px;
        margin-bottom: 60px;
    }

    .search-form-button > i {
        font-size: 20px;
    }
    .latest-articles .section {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .license {
        margin-left: unset;
        margin-right: unset;
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media (max-width: 991px) {
    .link-row {    
        display: flex;
        flex-wrap: wrap;
    }
    .text {
        text-align: center;
    }
    .top-cards, .other-cards {
        width: 100%;
    }

    #header-support-button, #header-contact-button {
        display: none;
    }
    
    .content {
        margin-left: 0px;
    }
    .image-cover-container img{
        filter: brightness(50%);
    }

}

@media (max-width: 1259px) {
    .footer-social-menu-logos > a {
        padding: 12px 22px 16px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .container{
        width: 750px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .link-row {
        flex-grow: 1;
        display: flex;
    }
    .col-sm-6 {
        width: 46.1%;
    }
    .row {
        width: 750px;
    }
    #article-3 {
        display: none
    }
    #article-1, #article-2 {
        padding: 0px 15px;
    }
    .article-list {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .heading-container {
        width: 720px;
    }
    #services-footer {
        display: none;
    }
    #large-form {
        display: none;
    }
    .search-form-input{
        display: inline-block;
        width: 174px;
        
    }
    .header-mobile-icon {
        display: none;
    } 
    #article-1:hover, #article-2:hover, #article-3:hover {
        margin-top: -10px;
    }
    .license {
        max-width: 100%
    }
    .search-form-input:focus {
        border-color: #5bc0de99;
        box-shadow: 0px 0px 15px lightgray;
    }
    .header {
        height: 110px;
    }
    .nav-up {
        top: -110px;
    }
    .banner {
        margin-top: 110px;
    }
    .main-content-contact {
        margin-top: 110px;
    }
    .slick-dots {
        //bottom: -60px !important;
    }
    #modal-dialog {
        width: 600px;
    }
    #cookie-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 47px;
    }
    .cookie-button-anchor {
        width: 50%;
    }
    .article-list .block h3 {
        min-height: 3rem;
    }
    .latest-articles .heading-container {
        margin-left: 15px;
    }
    .other-cards { 
        width: 45%;
    }
    #articles-container {
        padding-right: 0px;
        padding-left: 0px;
    }
    .header-actions {
        padding: 0px 15px;
    }
    .header-icon > a > img {
        padding: 0px 15px;
        box-sizing: border-box;
    }
    footer {
        padding-left: 15px;
        padding-right: 15px;
    }
    #enquiry-form {
        //height: 711px;
    }
    
}


@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    .col-md-3 {
        width: 25%;
    }
    .text > h1 {
        font-size: 4rem;
        line-height: 5rem;      
    }
    
    .text > p {
        font-size: 1.625rem;
        line-height: 2.5rem;
    }

    .row {
        width: 970px;
        flex-wrap: nowrap;
    }

    .brand-buttons, .clients-buttons {
        top: -22px;
        position: relative;
    }
    .clients-buttons { 
        margin-top: 20px;
    }
    .heading-container {
        width: 940px;
    }
    .top-cards {
        width: 30%;
    }
    .other-cards {
        width: 46.65%;
    }

    .main-navigation {
        display: block;
    }
    .search-form-input {
        display: none;
    }

    .search-form-button {
        border-radius: 3px !important;
        left: 1px;
    }
    .header {
        height: 215px;
    }
    .nav-up {
        top: -215px;
    }
    .banner {
        margin-top: 215px;
    }
    .main-content-contact {
        margin-top: 215px;
    }

    #services-md-hidden-menu { 
        display: block;
    }
    #side-nav-content { 
        display: none;
    }
    .support-sidenav {
        display: none;
    }
    #side-nav-company-info {
        margin-bottom: 0px;
    }
    #side-nav-bar {
        width: 350px;
    }
    .content {
        overflow: unset;
    }
    .image-cover-container::before {
        content: '';
        z-index: 100000000000000;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        background: linear-gradient(270deg,transparent 25%,#000);
    }
    .card-software-block, .card-it-block, .card-digital-block {
        height: 252px;
    }
    .services-header {
        margin: 0px 18px 0px 17px;
    }
    .offices-item { 
        width: 45%;
    }
    #enquiry-form {
        //height: 499px;
    }
}

@media (min-width: 1260px) {
    .container {
        width: 1200px;
    }
    .footer-social {
        width: 400px;
    }
    .row {
        width: 1200px
    }
    #article-3 {
        display: block;
    }

    #article-1, #article-2, #article-3 {
        padding: 0px 15px;
    }
    .article-list .image-container {
        height: 214px;
    }
    .article-list .block {
        height: 329px;
    }
    .heading-container {
        width: 1170px;
    }
    .top-cards {
        width: 30.65%;
    }
    .other-cards {
        width: 22.33%;
    }
    .search-form-input{
        display: inline-block;
        width: 240px;     
    }

    .search-form-button { 
        border-radius: 0px 3px 3px 0px !important;
        left: -6px;
    }
    .sub-menu-container {
        width: 1200px;
    }
    #support-triangle {
        margin-left: 172px;
    }
    #digital-triangle {
        margin-left: 344px;
    }
    #telecoms-triangle {
        margin-left: 516px;
    }
    #web-triangle {
        margin-left: 688px;
    }
    #security-triangle {
        margin-left: 860px;
    }
    #developer-triangle {
        margin-left: 1032px;
    }
    .triangle-down {
        border-left: 85px solid transparent;
        border-right: 85px solid transparent;
        border-top: 35px solid blue;
    }
    #digital-btn {
        margin-top: 20px;
    }
    .clients-buttons { 
        margin-top: 25px;
    }
    footer {
        padding-top: 47px;
    }
    #enquiry-form {
        right: 33.33333333%;
        width: 66.66666667%;
        float: left;
        //height: 531px;
    }
    #enquiry-contact-details {
        left: 66.66666667%;
        width: 33.33333333%;
        float: left;  
        

    }
    #enquiry-container {
        display: flex;
        flex-direction: row;
    }

}
