.icons {
    filter: invert(100%)
}

html {
    background-color: blue;
}

footer {
    width: 100vw;
    height: 10vh; 
    background-color: darkblue;

}

.footer-column-1 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

}

.icon-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}