@use "../base/mixins" as mixin;
@import "../base/colours";

// NEWSLETTER

.newsletter {
    background-color: #dddddd;
    color: #333645;
}

.form-group {
    margin-bottom: 15px;
}

.form-signup {
    padding: 50px 0px;
}

#required-input {
    color: red;
}


  .mdi-action-done:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: pink;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
  
  input[type=checkbox] {
    display: none;
  }
  .checkbox label:before {
    border-radius: 3px;
  }
  
  input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 12px;
    color: #fff;
    text-align: center;
      line-height: 12px;
  }


.form-group .media-body {
    font-weight: 600;
}

.form-group input {
    width: 90%;
    border: 1px transparent;
    padding: 5px 15px;
}

.form-group label.required {
    font-size: 16px;
    font-weight: 600;
    margin: 0px 0px 5px;
}

.sign-up-input {
    flex: 1 1 450px;
    padding: 15px 0px;
}

.form-group label .required:after {
    content: " *";
    color: $lightest-red;
}

.sign-up-inputs-group {
    @include mixin.flex-container(0, wrap);
}

.checkbox-left {
    padding-right: 0;
}
.media-body, .media-left {
    display: table-cell;
    vertical-align: top;
}

#button-checkbox {
    border-radius: 3px;
    border: 3px solid #333645;
    height: 32px;
    width: 32px;
    position: relative;
    float: left;
    margin-right: 20px;
}

#newsletter-btn-primary {
    color: $lightest-white-v2;
    background-color: $dark-purple;
    border-color: $lightest-grey-v2;
}

.heading-container {
    display: flex;
    color: $lightest-white-v3;
    justify-content: space-between;
    margin: 0px;
}

.smallestvp-view-all {
    text-align: center;
    display: none;
}
