$defualt-white: white;
$defualt-black: black;
$defualt-blue: blue;

$defualt-dark-purple: rgb(31, 33, 43);
$eggshell-white: #e5e5e5;

$lightest-grey: #999aa2;
$lightest-grey-v2: rgb(120, 112, 99);
$lightest-brown: #C2BDB5;
$lightest-brown-v2: rgb(120, 112, 99);
$lightest-blue: rgb(80, 153, 218);
$lightest-white: #ccc;
$lightest-white-v2: rgb(232, 230, 227);
$lightest-white-v3: #c2bdb5;
$lightest-purple: #9A79B6;
$lightest-red: #d24d57;

$light-blue: #4183d7;
$light-blue-v2: #286abd;
$light-grey: #67809f;
$light-grey-v2: #526781;
$light-grey-v3: #666666;
$light-green: #2ecc71;
$light-red: #d64541;
$light-red-v2: #bc2c28;
$light-purple: #926fb1;
$light-purple-v2: #61427b;
$light-black: #282a36;
$light-black-v2: #2B2F31;

$medium-blue: #21579c;
$medium-blue-v2: #1E4F8D;
$medium-green: #25a35a;
$medium-grey: #4d617a;
$medium-grey-v2: #3E4446;
$medium-pink: #de093f;
$medium-black: #1a1c26;
$medium-purple: #5E4177;
$medium-purple-v2: #563B6D;

$dark-green: rgb(0, 146, 98);
$dark-pink: #fb2459;
$dark-blue: rgb(8, 66, 161);
$dark-red: #ce4125;
$dark-red-v2: #a3331d;
$dark-grey: #333645;
$dark-black: #181a1b;

$darker-pink: #f62459;
$darker-grey: #292b37;
$darker-grey-v2: #333645;
$dark-purple: #282a36;